body {
  font-family: 'Courier New', Courier, monospace;
  font-size: xx-large;
  background-color: #202020;
  color: goldenrod;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
}